body{
    color: #FFF;
    background-color: #000;
}
.title{
    position: absolute;
    top: 25%;
    left: 10%;
    right: 40%;
    z-index: 0;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("https://media.giphy.com/media/fvA1ieS8rEV8Y/giphy.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}
.title .ping{
    filter: saturate(2);
    font-size: 5em;
    font-weight: 900;
    margin-top: 0;
    /* background: -webkit-linear-gradient(0deg,#14b167ee, #b42194ee); */
    background: -webkit-linear-gradient(0deg,#ffffff88, #00498588);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title .pong{
    filter: saturate(2);
    font-size: 4em;
    font-weight: 900;
    /* background: -webkit-linear-gradient(0deg, #b42194ee, #14b167ee); */
    background: -webkit-linear-gradient(180deg,#ffffff88, #00498588);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title h2{
    font-size: 2em;
    font-weight: 900;
    color: #fff
}


.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 15%;
    right: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px;
    margin: 4px;
    cursor: pointer;
}
.menu .item{
    padding: 50px 4px;
    /* background: linear-gradient(180deg, #14b16744, #b4219444); */
    background: linear-gradient(147deg, #5cc2dca3, #1e064470);
    backdrop-filter: blur(10px);
    transition: all 0.3s;
    color: #fff;
    text-shadow: 0 0 4px blueviolet;
    font-size: 2em;
}
.item .emoji{
    transition: all 0.5s;
    margin-right: 10px;
    margin-left: 10px;
}
.menu .item:hover {
    filter: saturate(9);
    transform: translateX(-10px);
    /* background: linear-gradient(200deg, #14b16744, #b4219444); */
    background: linear-gradient(200deg, #5cc2dca3, #1e064470);

}
.menu .item:active{
    transform: rotate3d(-1, -2, 0, -20deg); 

}
.item:hover .emoji{
    margin-left: 15px;
    transform: rotate(360deg) scale(1.1);
}
.bottom_extra{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.bottom_extra .item{
    padding: 5px 2px;
}
canvas{
    position: absolute;
    top: 35%;
    left: 40%;
    z-index: -1;
    transform: scale(3.5);
}

.background{
    position: absolute;
    top: 50%;
    left: 5%;
}
.background .glass_shard{
    width: 300px;
    height: 100px;
    background-color: rgba(233, 23, 23, 0.7);
    background: linear-gradient(90deg, rgba(240, 45, 45, 0), rgba(236, 37, 37, 0.6),rgba(201, 14, 14, 0.7),rgba(212, 11, 11, 0.3), rgba(218, 31, 31, 0));
    transform: rotate(60deg);
    border-radius: 30px;
    position: absolute;
    transition: all 0.4s;
    backdrop-filter: blur(5px);
    opacity: 75%;
}
.glass_case{
    animation: floating 10s ease-in-out infinite normal;
    position: fixed;
    height: 300px;
    width: 300px;
    transform: scale(1);
    backdrop-filter: blur(3px);
    opacity: 90%;
    /* animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite; */
}
.glass_case[case="1"]{
    animation-delay: 1s;
    animation-duration: 11s;
}
.glass_case[case="2"]{
    animation-delay: 2s;
    animation-duration: 12s;
}
.glass_case[case="3"]{
    animation-delay: 3s;
    animation-duration: 13s;
}
.glass_case[case="4"]{
    animation-delay: 0.4s;
    animation-duration: 14s;
}
.glass_case[case="5"]{
    animation-duration: 16s;
}
#glass_1{
    background: linear-gradient(90deg, rgba(240, 204, 45, 0), rgba(236, 233, 37, 0.6),rgba(182, 201, 14, 0.7),rgba(212, 192, 11, 0.3), rgba(218, 215, 31, 0));
    transform: rotate(60deg) translate(100px, 90px) scale(1.1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#glass_2{
    background: linear-gradient(90deg, rgba(58, 45, 240, 0), rgba(50, 37, 236, 0.6),rgba(17, 14, 201, 0.7),rgba(48, 11, 212, 0.3), rgba(71, 31, 218, 0));
    transform: rotate(60deg) translate(-100px, -290px) scale(0.8);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
#glass_3{
    background: linear-gradient(90deg, rgba(77, 240, 45, 0), rgba(37, 236, 97, 0.6),rgba(14, 201, 61, 0.7),rgba(11, 212, 11, 0.3), rgba(31, 218, 71, 0));
    transform: rotate(60deg) translate(250px, -75px) scale(0.9);
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
#glass_4{
    background: linear-gradient(90deg, rgba(240, 45, 230, 0), rgba(236, 37, 203, 0.6),rgba(201, 14, 192, 0.7),rgba(212, 11, 212, 0.3), rgba(218, 31, 209, 0));
    transform: rotate(60deg) translate(150px, -190px) scale(1.2);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes floating {
    0%{
        transform: scale(1);
        backdrop-filter: blur(3px);
        opacity: 90%;
    }
    50%{
        transform: scale(2);
        opacity: 80%;
        backdrop-filter: blur(1px);
    }
    100%{
        transform: scale(1);
        backdrop-filter: blur(3px);
        opacity: 90%;
    }
}