@import url('https://fonts.googleapis.com/css?family=Inconsolata');

*{
  font-family: "Inconsolata", monospace;
  text-align: center;
}

body{
  background: #1f1f1f;
  color: white;
}

.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 15%;
    right: 5%;
}

@mixin transition-all {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.menu-bt {
  font-weight: bold;
  font-size: large;
  text-align: initial;
  color: white;
  text-decoration: none;

  display:inline-block;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  margin: .3em;
  width: 15em;
  transform: skewX(-10deg);
  cursor: pointer;
  
  background-size: 300% 100%;
  background-position: 100% 0%;
  background-image: linear-gradient(to right, white, rgb(196, 255, 255), rgb(0, 89, 255),rgb(95, 0, 204));
  
  &:before { content: "⠀";}
  
  &:hover {
   @include transition-all; 
    background-position: 0% 0%;
    transform: translate(0.3em, -0.3em) skew(-10deg, 0deg);
    color: rgb(27, 27, 27);
    box-shadow: rgba(0, 153, 255, 0.5) -0.3em 0.3em .8em;
    }

  &:active {
    transition: 50ms;
    transform: translate(0em, 0em) skew(-10deg, 0deg);
    box-shadow: rgba(0, 153, 255, 0.5) 0em 0em 2em;
  }
    transition-duration: 400ms;
}

.red-bt {
    background-image: linear-gradient(to right, white, rgb(255, 196, 196), rgb(255, 0, 43),rgb(204, 0, 0));
    width: 4em;
    height: 3em;
    &:before { content: "";}

    &:hover{
        box-shadow: rgba(255, 0, 0, 0.5) -0.3em 0.3em .8em;
    }
    &:hover .icon-bt{
      filter: brightness(11%);
    }
    &:active {
      box-shadow: rgba(255, 0, 0, 0.5) -0.3em 0.3em 2em;
    }
}

.icon-bt{
  height: 2em;
  width: 2em;

  
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
