@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
* {
  font-family: "Inconsolata", monospace;
  text-align: center;
}

body {
  background: #1f1f1f;
  color: white;
}

#linhaembaixo{
        border-bottom: 1px solid blue;
        padding-bottom:10px;
        border-right: 50px;
        border-left: 50px;
       }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 15%;
  right: 5%;
}

.final__gradient-button-1 {
        text-align: center;
  font-weight: bold;
  font-size: large;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 50px;
  height: 250px;
  margin: .3em;
        border-radius: 100px;
        position: relative;
        z-index: 1;
        display: inline-block;
        padding: 20px 40px;
        font-size: 1.4rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: #1f1f1f;
        border: 10px solid transparent;
        border-image: linear-gradient(to right, #0059ff, #5f00cc);
        border-image-slice: 1;
        color: white;
        outline: none;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: skewX(-8deg);
          transform: skewX(-8deg);
                cursor: pointer;
      }

.final__gradient-button-1:hover {
        background-size: 100%;
        background-image: linear-gradient(to right, #0059ff, #5f00cc);
        color: white;
        border-radius: 10px;
        -webkit-transform: translate(0.3em, -0.3em) skew(-8deg, 0deg);
                transform: translate(0.3em, -0.3em) skew(-8deg, 0deg);
        border-image-slice: 1;
}

.final__gradient-button-1:active {
        background-size: 100%;
        background-image: linear-gradient(to right, #0059ff, #5f00cc);
        color: white;
        border-radius: 10px;
        -webkit-transform: translate(0m, 0em) skew(-8deg, 0deg);
                transform: translate(0em, 0em) skew(-8deg, 0deg);
        border-image-slice: 1;
}

.back {
    position: sticky;
    top: 0;
    left: 0;

}

.back-bt {
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    margin: .3em;
    width: 3em !important;
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
    cursor: pointer;
    background-size: 300% 100%;
    background-position: 100% 0%;
    background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(#ffc4c4), color-stop(#ff002b), to(#cc0000));
    background-image: linear-gradient(to right, white, #ffc4c4, #ff002b, #cc0000);
    -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
  }
  
    .back-bt:hover {
        -webkit-box-shadow: rgba(255, 0, 0, 0.5) -0.3em 0.3em 0.8em;
                box-shadow: rgba(255, 0, 0, 0.5) -0.3em 0.3em 0.8em;
                border-radius: 10px;
        -webkit-transform: translate(0.3em, -0.3em) skew(-8deg, 0deg);
                transform: translate(0.3em, -0.3em) skew(-8deg, 0deg);
        
    }
    
    .back-bt:active {
        -webkit-box-shadow: rgba(255, 0, 0, 0.5) -0.3em 0.3em 2em;
                box-shadow: rgba(255, 0, 0, 0.5) -0.3em 0.3em 2em;
                border-radius: 10px;
        -webkit-transform: translate(0em, 0em) skew(-8deg, 0deg);
                transform: translate(0em, 0em) skew(-8deg, 0deg);
        
    }

    #botao_voltar{
           padding: 20px;
           position: relative;
           padding-bottom: 0px;
    }

    #modos{
        position: absolute; 
        top:25%; 
        left: 10%; 
        right:10%; 
        bottom:30%;
    }

    #modos img{
        height: 100px;
    }