@import "buttons";


$cinzadefundo : #1f1f1f;

$gradiente-vermelho: linear-gradient(to right, white, rgb(255, 196, 196), rgb(255, 0, 43),rgb(204, 0, 0));
$box-shadow-vermelho: rgba(255, 0, 0, 0.5);
$gradiente-azul-grande: linear-gradient(to right, white, rgb(196, 255, 255), rgb(0, 89, 255),rgb(95, 0, 204));
$gradiente-azul: linear-gradient(to right, #0059ff, #5f00cc);
$box-shadow-azul: rgba(0, 153, 255, 0.5);


$translate-0: translate(0em, 0em) skew(-10deg, 0deg);
$translate-03: translate(0.3em, -0.3em) skew(-10deg, 0deg);

#modos{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0,-50%);
  }
  
#nav_superior{
padding: 10px;
position: relative;
padding-bottom: 0px;
height: 75px;

#corner-logo{
  height: 100%;
  padding-right: 20px;
}
}

table{
    text-align: center;
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;

    border: 1px $gradiente-azul-grande;

    td{
        padding-right: 10px;
        padding-left: 10px;

        
        border-bottom: 10px solid;
        border-image-slice: 1;
        border-width: 3px;
        border-image-source: $gradiente-azul;
    }
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 3px;
  }

  .border-gradient-purple {
    border-image-source: $gradiente-azul;
  }

  